<app-top-bar></app-top-bar>

<div class="container">
  <div class="loader" *ngIf="loading; else elseBlock">
    <h3 class="text-center loader-title">Loading...</h3>
    <div class="bb8">
      <div class="antennas">
        <div class="antenna short"></div>
        <div class="antenna long"></div>
      </div>
      <div class="head">
        <div class="stripe one"></div>
        <div class="stripe two"></div>
        <div class="eyes">
          <div class="eye one"></div>
          <div class="eye two"></div>
        </div>
        <div class="stripe three"></div>
      </div>
      <div class="ball rotating">
        <div class="lines one"></div>
        <div class="lines two"></div>
        <div class="ring one"></div>
        <div class="ring two"></div>
        <div class="ring three"></div>
      </div>
      <div class="shadow"></div>
    </div>
  </div>
  <ng-template #elseBlock>
    <cm-customers-list [customers]="people"></cm-customers-list>
  </ng-template>
  <router-outlet></router-outlet>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->