<div id="nav">
  <img class="logo" alt="Logo" src="../assets/logo-8.png">
  <div class="links">
  <a [routerLink]="['/list']" routerLinkActive="active">The List</a> |
  <a [routerLink]="['/about']" routerLinkActive="active">About</a>
  </div>
  <img alt="r2d2" class="r2d2" src="../assets/r2d2.svg">
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->